In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('Downloads/Disconnections.xlsx')

In [3]:
list_of_dfs = []
for sheet in xls.sheet_names:
    df = xls.parse(sheet)
    list_of_dfs.append(df)

In [65]:
list_of_dfs[2]

     DisconnectionID  CompanyID  ZipCode  Year   July August September
0                322          1    85003  2021   58.0     78        49
1                323          1    85004  2021   92.0     98        57
2                324          1    85006  2021  258.0    394       317
3                325          1    85007  2021  184.0    270       180
4                326          1    85008  2021  281.0    365       331
..               ...        ...      ...   ...    ...    ...       ...
171              493          1    86336  2021   27.0     38        70
172              494          1    86337  2021    NaN      3         1
173              495          1    86338  2021    NaN      5         4
174              496          1    86343  2021    1.0    NaN       NaN
175              497          1    86351  2021   20.0      6        23

[176 rows x 7 columns]

In [59]:
comp=[list_of_dfs[i].melt(id_vars=['DisconnectionID','CompanyID','ZipCode','Year'],value_vars=list_of_dfs[i].columns[-3:],var_name='Month',value_name='Quantity') for i in range(len(xls.sheet_names))]

In [61]:
disconnections=pd.concat(comp)

In [62]:
disconnections

    DisconnectionID  CompanyID  ZipCode  Year      Month Quantity
0                 1          1    85003  2021    January      NaN
1                 2          1    85004  2021    January      NaN
2                 3          1    85006  2021    January      NaN
3                 4          1    85007  2021    January      NaN
4                 5          1    85008  2021    January      NaN
..              ...        ...      ...   ...        ...      ...
1              1312          4    85321  2021     August        0
2              1312          4    85321  2021  September        0
0              1313          4    85321  2021    October        3
1              1313          4    85321  2021   November        0
2              1313          4    85321  2021   December        2

[3948 rows x 6 columns]

In [69]:
disconnections.to_csv('Disconnections.csv')

In [67]:
disconnections=disconnections.fillna(0)

In [10]:
loc=list_of_dfs[2]

In [12]:
cnt=list_of_dfs[3]
cit=list_of_dfs[4]

In [14]:
list_of_dfs[2]=loc.replace(cnt.set_index('County')['CountyID']).replace(cit.set_index('City')['CityID'])

In [18]:
pd.DataFrame(list_of_dfs).to_excel('Downloads/Disconnect.xlsx')

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (5,) + inhomogeneous part.

In [16]:
excl_merged = pd.DataFrame()

In [17]:
for excl_file in list_of_dfs:
    excl_merged = excl_merged.append(
      excl_file, ignore_index=True)

AttributeError: 'DataFrame' object has no attribute 'append'

In [20]:
with pd.ExcelWriter('output.xlsx') as writer:  
    i=0
    for sheet in xls.sheet_names:
        list_of_dfs[i].to_excel(writer,sheet_name=sheet,index=False)
        i+=1